@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet');
$tabs-border-bottom-color: transparent;
$navbar-item-hover-color: black;
$navbar-dropdown-arrow: black;
.justify-between {
	justify-content: space-between;
}

@import '~bulma/bulma'