@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet');
$tabs-border-bottom-color: transparent;
$navbar-item-hover-color: white;
$navbar-dropdown-arrow: none;
$box-shadow: none;
$navbar-item-hover-background-color: none;
.justify-between {
	justify-content: space-between;
}

@import '~bulma/bulma'